snippet pubf
	public function ${1}(${2})
	{
		${3}
	}
snippet prof
	protected function ${1}(${2})
	{
		${3}
	}
snippet prif
	private function ${1}(${2})
	{
		${3}
	}
snippet pub$
	public \$${1} = ${2};
snippet pro$
	protected \$${1} = ${2};
snippet pri$
	private \$${1} = ${2};
